$color-white: white;
$gray-border: #c0c0c0;

.container {
    .car-detail {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        .car-compare {
            flex: 1 0;
            background-color: $color-white;
            text-align: center;
            width: 33%;

            .car-description {
                font-size: 2rem;
            }

            .car-price {
                font-size: 2.8rem;
            }
        }

        .car-details-description  {
            background-color: $color-white;
            display: flex;
            justify-content: flex-start;
            flex-flow: row wrap;
        }

        .car-specs {
            display: flex;
            flex: 0 0 100%;
            padding: 0.5rem !important;
            flex-direction: column;

            .car-specs-compared {
                display: flex;

                .spec-card {
                    flex: 1;
                    border-left: 1px solid $gray-border;
                    border-right: 1px solid $gray-border;
                    border-bottom: 1px solid $gray-border;
                    span {
                        text-transform: capitalize;
                        font-size: 1.2rem;
                    }
                }
            }

            strong {
                border: 1px solid $gray-border;
                font-size: 1.5rem;
                text-transform: capitalize;
                width: 100%;
                background-color: aliceblue;
            }
        }
    }
}

@media all and (max-width: 1140px) {
    .container {
        .car-detail {
            .car-compare {
                .car-description {
                    font-size: 1.3rem;
                }
                
                .car-price {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media all and (max-width: 800px) {
    .container {
        .car-detail {
            .car-compare {
                flex: 1 0 33%;

                .car-description, .car-price {
                    font-size: 1rem;
                }

                &.p-5 { padding: 3px!important; }
            }
        }
    }
}