$white: #fff;
$blue-header-background: #2c3e50;
$orange-hover: #e67e22;

header {
	background-color: $blue-header-background;

	/* Flex */
	display: flex;
	justify-content: space-between;
	align-items: center;

	flex-direction: row;
	flex-wrap: wrap;

	.logo {
		color: $white;
		font-size: 2rem;

		a {
			color: $white;

            .fas.fa-car { line-height: 2rem; }
            &:hover { color: $orange-hover; cursor: pointer; }
		}
	}
}