<main class="container mw-100 p-3 mt-3">
  <section class="car-detail mt-3 w-100" *ngIf="car">
    <article class="image-content">
      <img [src]="imagePath + car['picture']" class="w-100" alt="car['picture']">
    </article>
    <article class="car-description pl-5">
      <div><span class="car-year">{{ car['year'] }}</span></div>
      <div class="car-description">{{ car['make'] }} - {{ car['model'] }}</div>
      <div class="car-price">{{ car['price'] }}</div>
    </article>
  </section>

  <section class="car-details-description mt-3 w-100">
    <div class="car-specs p-5" *ngFor="let detail of car['details']">
      <span>{{ detail.label }}</span>
      <strong>{{ detail.value }}</strong>
    </div>
  </section>
</main>
