$gray-color: #a0a0a0;
$black-color: black;
$white-color: white;
$gray-border-color: #f0f0f0;

.container {
    .car-detail {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        background-color: white;

        article.image-content {
            width: 50%;
        }

        article.car-description {
            width: 40%;
            border-left: solid 1px $gray-border-color;
            color: $black-color;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            .car-year { font-size: 1rem; }
            .car-description { font-size: 2rem; }
            .car-price { font-size: 3rem; }
        }

    }
    
    .car-details-description {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        background-color: $white-color;

        .car-specs {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-flow: column;
            flex: 0 0 20%;

            span {
                text-transform: capitalize;
            }

            strong {
                font-size: 1.5rem;
            }
        }
    }
}

@media all and (max-width: 1024px) {
    .container {
        .car-detail {
            article.car-description {
                .car-year { font-size: 0.8rem; }
                .car-description { font-size: 1.8rem; }
                .car-price { font-size: 2.8rem; }
            }
        }
    }
}

@media all and (max-width: 800px) {
    .container {
        .car-detail {
            flex-flow: column nowrap;
            article.car-description {
                .car-description { font-size: 1.6rem; }
                .car-price { font-size: 2.6rem; }
            }

            article.image-content {
                width: 100%;
            }
    
            article.car-description {
                width: 100%;
                align-items: center;
                padding: 0!important;
            }
        }

        .car-details-description {
            .car-specs {
                flex: 1 0 33%;
            }
        }
    }
}

@media all and (max-width: 600px) {
    .container {
        .car-details-description {
            .car-specs {
                align-items: center;
                flex: 0 0 100%;
                padding: 1rem!important;
            }
        }
    }
}