.container
{
    #searchCarInput {
        height: 45px;
        background-image: url("./../../assets/images/icon-search.svg");
        background-repeat: no-repeat;
        background-position: 17px;
    }
}

.cars-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .cars-card {
        font-size: 1.5rem;
        margin: 1%;
        text-align: center;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
        padding: 0px;
        flex: 0;
        min-width: 31.3%;
        border-radius: 5px;
        overflow: hidden;

        article { cursor: pointer; }

        .car-description {
            font-size: 1rem;
        }

        .compare {
            margin: 0 auto;
            background-color: lightskyblue;
            border-radius: 5px;
            font-size: 1.25rem;
            cursor: pointer;
            box-shadow: none;
            border: none;

            &.active {
                background-color: lightgreen;
            }
        }
    }
}

@media all and (max-width: 800px) {
    .container {
        .cars-list {
            .cars-card {
                min-width: 48%;
            }
        }
    }
}

@media all and (max-width: 600px) {
    .container {
        #searchCarInput {
            width: 100%;
        }
        .cars-list {
            flex-flow: column wrap;
            align-items: center;
        }
    }
}