<main class="container mw-100 p-3 mt-3">
  <input id="searchCarInput" class="form-control pl-5 col-xs-12 col-sm-6" type="text" placeholder="Search"
    aria-describedby="searchHelp" name="search" [(ngModel)]="search">
  <small id="emailHelp" class="form-text text-muted">Search cars by make, type it and find your car.</small>

  <section class="cars-list mt-3 w-100" *ngIf="response">
    <div class="cars-card mb-4" *ngFor="let car of response['cars']
         | searchCar: [ search ]">
      <article routerLink="/detail/{{car.id}}" (click)="selectCar(car)">
        <div class="car-image">
          <img [src]="imagePath + car['picture']" class="w-100" alt="car['picture']">
        </div>
        <div class="car-price">{{ car['price'] }}</div>
        <div class="car-description">{{ car['make'] }} - {{ car['model'] }} - {{ car['year'] }}</div>
      </article>
      <button
      class="compare my-3 w-50" (click)="activateCompare(car)"
      [ngClass]="{'active': car['readyForCompare']}"
      >Compare</button>
    </div>
    
  </section>
</main>